<div class="ligaCrear">
<span  class="btn btn-info" (click)="openVerticallyCentered(contentLiga)">Crear Liga</span>
</div>
<ng-template class="modal" #contentLiga let-modal>
    <app-liga></app-liga>
</ng-template>

<div class="container">
  <div class="row row-cols-4">
    <div class="col" *ngFor="let liga of ligas">
      <div class="card" style="margin-top: 20px;">
        <div class="card text-bg-light mb-3">
          <div class="card-header title">Liga</div>
          <div class="card-body name">
            <h5 class="card-title">{{liga.nombre}}</h5>
            <img src="../../../../assets/SofkaU-2.png" width="100" height="100"/>
            <div class="card-body body-content" style="gap: 20px">
            <svg style="cursor:pointer;" [routerLink]="['/adm/grafica']" (click)="enviarLiga(liga.id)" fill="#000000" width="30px" height="30px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.92,11.6C19.9,6.91,16.1,4,12,4S4.1,6.91,2.08,11.6a1,1,0,0,0,0,.8C4.1,17.09,7.9,20,12,20s7.9-2.91,9.92-7.6A1,1,0,0,0,21.92,11.6ZM12,18c-3.17,0-6.17-2.29-7.9-6C5.83,8.29,8.83,6,12,6s6.17,2.29,7.9,6C18.17,15.71,15.17,18,12,18ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"/></svg>
            <svg style="cursor:pointer;" (click)="eliminar(liga.id)" xmlns="http://www.w3.org/2000/svg" width="30"
              height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
            <svg style="cursor: pointer;" (click)="openVerticallyCentered(contentEditarLiga)" (click)="enviarLiga(liga.id)"
            xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#6DC2EA" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
            </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template class="modal" #contentEditarLiga let-modal>
    <app-editar-liga></app-editar-liga>
</ng-template>
