.title{
  background-color: #6DC2EA;
  text-align: center;
}
.body-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ligaCrear{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px;
}
.btn-info{
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
