<div class="card-body">
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
        </tr>
      </thead>
      <tbody *ngFor="let aprendiz of liga?.aprendices">
        <tr>
          <td (click)="enviarNota(aprendiz.calificaciones,aprendiz.nombre)" style="cursor: pointer;">{{aprendiz.nombre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <app-chart-radar></app-chart-radar>
  </div>
  <div>
    <button class="btn btn-dark" (click)="traerLiga()">Ver datos generales</button>
  </div>
</div>
<div class="card-body3">
  <div class="form-floating">
    <select [(ngModel)]="posicion" class="form-select mb-2">
      <option>Seleccionar</option>
      <option *ngFor="let aprendiz of aprendices; let indice = index">
        {{ indice }}
        {{ aprendiz.nombre }}
      </option>
    </select>
    <label for="floatingInput">Aprendiz</label>
    <span class="btn btn-info mb-2" (click)="agregarAprendiz()">Añadir aprendiz a la liga</span>
  </div>
  <div class="card-body2">
    <table class="table-responsive">
      <thead>
        <tr>
          <th scope="col">Area de conocimiento</th>
          <th scope="col">Descriptor</th>
          <th scope="col">Apropiación liga</th>
          <th scope="col">Nivel de apropiación</th>
        </tr>
      </thead>
      <tbody *ngFor="let area of radarItems?.areas; let indice = index">
        <tr >
          <td>{{area.area}}</td>
          <td>{{area.descriptor}}</td>
          <td [ngStyle]="{'background-color':severidadNota(total[indice])}">{{total[indice]}}</td>
          <td [ngStyle]="{'background-color':severidadNota(area.nivel)}">{{area.nivel}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



