<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Rol</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
         
          </tr>
        </tbody>
      </table>
</div>

