<app-navbaradmin></app-navbaradmin>
<div class="container">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Usuarios</h5>
          <p class="card-text">Contenido de los usuarios.</p>
          <div class="contenedor-botones">
            <span [routerLink]="['/users']" class="btn btn-info">Ir a usuarios</span>
            <span  class="btn btn-info" (click)="openVerticallyCentered(content)">Crear usuario</span>
          </div>         
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Radar</h5>
          <p class="card-text">Contenido de los radares.</p>
          <div class="contenedor-botones">
            <span [routerLink]="['/radar']" class="btn btn-info">Ir a radares</span>
            <span  class="btn btn-info" (click)="openVerticallyCentered(contentRadar)">Crear radar</span>
          </div>  
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Promedios</h5>
            <p class="card-text">Contenido de los promedios de los estudiantes.</p>
            <span [routerLink]="['/promedios']" class="btn btn-info">Ir a promedios</span>
          </div>
        </div>
      </div>
  </div>


  <ng-template class="modal" #content let-modal>
   <app-users></app-users>
  </ng-template>
  <ng-template class="modal" #contentRadar let-modal>
    <app-radar></app-radar>
  </ng-template>
