<div class="card-body">
  <div class="form-floating mb-2">
    <select [(ngModel)]="posicion" class="form-select">
      <option>Seleccionar</option>
      <option *ngFor="let aprendiz of aprendices; let indice = index">
        {{ indice }}
        {{ aprendiz.nombre }}
      </option>
    </select>
    <label for="floatingInput">Aprendiz</label>
    <div class="invalid-feedback">
      Please select a valid rol.
    </div>
  </div>
</div>
<span  class="btn btn-info mb-3" (click)="agregarAprendiz()">Añadir aprendiz a la liga</span>
