
.formulario{
    padding:10px;
    text-align: center;
    border-radius: 10px;
}
.titulo{
    background-color: #6DC2EA;
    color: #C324BC;

}
.contenedor-botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form-control{
    color:orange;
}