.areas-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.tabla{
    border: 1px solid #6DC2EA;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
th,td,tr{
    text-align: center;
    padding:10px;
}
td{
    border-left: 1px solid #6DC2EA;
}
h1{
    color: #FAF2A1;
}
.btn{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}