<div class="container py-4">
  <div class="row row-cols-4">
    <div class="col" *ngFor="let radar of radares">
      <div  class="card"  style="margin-top: 20px;">
        <div class="card text-bg-light mb-3" >
          <div class="card-header title">Radares</div>
          <div class="card-body body-content">
            <h5 class="card-title">{{radar.nombre}}</h5>
            <img src="../../../../assets/RadarGrafico.png" alt="">
            <span   [routerLink]="['/adm/radar-especifico']" [queryParams]='{name: radar.nombre }' class="card-link link">Ver radar</span >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
