
.title{
    background-color: #6DC2EA;
}
img{
    width: 50%;
    height: 50%;
}
.body-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link{
    color:#C324BC;
    cursor: pointer;
}
.links-contaner{
    display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
}